@use './base';
@use './quasar-overrides';

@use './variables/text';
@use './utils/index';

.main {
    display: block;
    width: 100%;
    height: 100%;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background: url('/images/parchment-bg.png') center center / cover no-repeat;
    font-family: 'Cinzel Decorative', serif;
    color: #3b2c02;
}

.left-pane,
.right-pane {
    background-color: rgba(255, 248, 230, 0.85);
    border: 4px solid #6b4f1d;
    box-shadow: inset 0 0 10px #6b4f1d;
}
