$h1: (
    size: 3rem,
    line-height: 3.3rem,
    weight: 600,
);
$h2: (
    size: 2.5rem,
    line-height: 3rem,
    weight: 600,
);
$h3: (
    size: 2rem,
    line-height: 2.5rem,
    weight: 600,
);
$h4: (
    size: 32px,
    line-height: 48px,
    weight: 600,
);
$h5: (
    size: 28px,
    line-height: 36px,
    weight: 600,
);
$h6: (
    size: 22px,
    line-height: 32px,
    weight: 600,
);
$h7: (
    size: 20px,
    line-height: 28px,
    weight: 600,
);

$text-large: (
    size: 18px,
    line-height: 28px,
    weight: 400,
);
$text-normal: (
    size: 1.2rem,
    line-height: 1.4rem,
    weight: 400,
);
$text-small: (
    size: 14px,
    line-height: 20px,
    weight: 400,
);
$text-ultra-small: (
    size: 12px,
    line-height: 16px,
    weight: 400,
);
$text-extra-small: (
    size: 11px,
    line-height: 14px,
    weight: 400,
);
$text-tab: (
    size: 10px,
    line-height: 14px,
    weight: 400,
);

$text-size-headings: (
    'h1': $h1,
    'h2': $h2,
    'h3': $h3,
    'h4': $h4,
    'h5': $h5,
    'h6': $h6,
    'h7': $h7,
    'large': $text-large,
    'normal': $text-normal,
    'small': $text-small,
    'ultra-small': $text-ultra-small,
    'tab': $text-tab,
);

@function text-props($map) {
    @return (
        font-size: map-get($map, size),
        line-height: map-get($map, line-height),
        font-weight: map-get($map, weight)
    );
}
